.details {
    text-align: right;
    flex: 1;
}

.pDetails {
    line-height: 1.3;
    font-family: haette;
}

.intro {
    background-color: rgba(9, 16, 34, 0.3);
    padding: 50px;
    width: 100%;
    margin: 0 auto;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 10px 10px 0px;
    font-size: 35px;
    font-family: Impact;
    letter-spacing: 2px;
    font-weight: normal;
}

.textIntro {
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
    line-height: 1.5;
    font-family: sans-serif;
}


.mainImage img {
    width: 300px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.mainImage {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.beforeName {
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 5px;
    letter-spacing: 4px;
}

.name {
    font-weight: bolder;
    font-size: 60px;
    font-family: Georgia, serif;
    padding-bottom: 20px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.mainImage {
  width: 400px;
}