* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background: #0f172a;
    background-image: linear-gradient(#0f172a, #283a64);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1 px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .pseudologo {
    font-size: 20px;
    letter-spacing: 3px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.2s;
}

.nav-links li a:hover {
    color: rgb(0, 157, 255);
    text-shadow: 0 0 10px #5e8eff;
}
