* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background: #0f172a;
    background-image: linear-gradient(#0f172a, #283a64);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1 px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .pseudologo {
    font-size: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #e2e8f0;
    transition: 0.2s;
}

.nav-links li a:hover {
    color: rgb(0, 157, 255);
    text-shadow: 0 0 10px #5e8eff;
}

.details {
    text-align: right;
    flex: 1;
}

.intro {
    background-color: rgba(9, 16, 34, 0.3);
    padding: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 10px 0px ;
}

.textIntro {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mainImage img {
    width: 300px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.mainImage {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImage::before {
    content: "";
    position: absolute;
    width: 380px;
    height: 380px;
    background: linear-gradient(95deg, #283a64, #0f172a);
    z-index: -1;

    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainImage {
  width: 400px;
}